<ion-header>
  <ion-toolbar>
    <ion-title>users</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div text-center>
          <h4>Register User</h4>
        </div>
        <div padding>
          <ion-item>
            <ion-input type="text" placeholder="Name" [(ngModel)]="damaged.name"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="text" placeholder="Last Name" [(ngModel)]="damaged.last_name"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="text" placeholder="User Name" [(ngModel)]="damaged.user_id"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="text" placeholder="Password" [(ngModel)]="damaged.password"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="text" placeholder="Email" [(ngModel)]="damaged.email"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="text" placeholder="Gender" [(ngModel)]="damaged.gender"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="text" placeholder="Disability" [(ngModel)]="damaged.disability"></ion-input>
          </ion-item>


        </div>

        <div padding>
          <ion-button size="large" expand="block" (click)="add()">Register</ion-button>
        </div>
        <!-- 
        <div padding>
          <ion-button size="large" expand="block" (click)="getData()">mostraPerson</ion-button>
        </div> -->
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>